<launch>
    <!-- Action Client Node -->
    <node pkg="assignment2_p1" type="action_client_node.py" name="action_client" output="screen" />

    <!-- Last Target Service Node -->
    <node pkg="assignment2_p1" type="last_target_service.py" name="last_target_service"
        output="screen" />

</launch>